
//greetings section =============================================================

.greeting {
    padding: 33px 0 71px 0;
    @media (max-width:$md1+px) {
        padding: 0 40px 0 0;
    }
    @media (max-width:$md3+px) {
        padding: 0px 0px 60px 0;
    }
    &__container {
        display: flex;
        @media (max-width:$md3+px) {
            flex-direction: column-reverse;
            text-align: center;
            align-items: center;
        }
        
    }

    &__content {
        align-items: flex-start;
        flex: 1 1 auto;
        padding: 18px 110px 0 0;
        *:last-child{
            margin-bottom: 0;
        }
        @media (max-width:$md1+px) {
            padding: 18px 40px 0 0;
        }
        @media (max-width:$md3+px) {
            padding: 0px 0px 0 0;
        }
    }

    &__title {
        margin: 0 0 25px 0;
        @media (max-width:$md3+px) {
            margin: 0 0 20px 0;
        }
    }

    &__text {
        margin: 0 0 35px 0;
        @media (max-width:$md3+px) {
            margin: 0 0 25px 0;
            padding: 0 15px;
        }
    }

    &__btn {
        margin: 0 0 25px 0;
        @media (max-width:$md3+px) {
            margin: 0 0 20px 0;
        }
    }

    &__img {
        height: 243px;
        flex: 0 0 243px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: -5px 13px 0 0 #EDF7FA;;
        img{
            max-width: 100%;
        }
        @media (max-width:$md3+px) {
            width: 170px;
            flex: 0 0 170px;
            margin: 0 0 40px 0;
        }
    }
}
//recent-posts section =============================================================
.recent-posts {
    background:  #EDF7FA;
    padding: 25px 0 13px 0;
    @media (max-width:$md3+px) {
        padding: 25px 0 23px 0;
    }
    &__header {
        display: flex;
        margin: 0 0 20px 0;
    }

    &__title {
        flex: 1 1 auto;
        padding: 0 20px 0 0;
        
    }

    &__link {
        font-size: 16px;
        text-align: right;
        line-height: 23px;
        color: $colorAqua;
        flex: 0 0 auto;
        @media (max-width: $md3+px) {
            display: none;
        }
    }

    &__items {
        margin: -10px -10px;
        @media (min-width: $md3+px) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__column {
        flex: 0 1 50%;
        padding: 10px 10px;
        margin: 0 0 17px 0;
    }
}
.recent-post {
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding: 20px;
    @media (min-width: $md3+px) {
        padding: 15px;
    }
    *:last-child{
        margin-bottom: 0;
    }
    &__title {
        display: inline-block;
        margin: 0 0 17px 0;
        font-weight: 700;
        font-size: 26px;
        line-height: 38 / 26 * 100%;
        color: $colorDark;
        transition: all 0.3s ease 0s;
        @media (min-width: $md2+px) {
            &:hover{
                color: $colorRed;
            }
        }
        @media (max-width:$md3+px) {
            font-size: 22px;
            margin: 0 0 10px 0;
        }
    }

    &__info {
        font-size: 18px;
        color: $colorDark;
        line-height: 26 / 18 *100%;
        span{
            margin: 0 10px;
        }
        margin: 0 0 15px 0;
        @media (max-width:$md3+px) {
            font-size: 16px;
            margin: 0 0 10px 0;
        }
    }

    &__text{
        margin: 0 0 15px 0;
    }
}
//featured works section =============================================================
.featured-works {
    padding: 30px 0 80px 0;
    @media (max-width:$md3+px) {
        padding: 30px 0 30px 0;
    }
}
.fetured-works {
	&__title {
        margin: 0 0 20px 0;
	}
    &__item{
        @media (max-width:$md3+px) {
        display: flex;
        overflow: auto;
        .works-item{
            @media (max-width:$md3+px) {
                flex: 0 0 90%;
                margin: 0 15px 0 0;
            }
        }
        }
    }
}

@import "_works";