
/*   Default font */
$fontFamily: "Heebo";

/* Variables*/
$minWidth: 320px;
$maxWidth: 1152px;
$maxWidthContainer: 856;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 478.98;

$colorRed: #FF6464;
$colorAqua: #00A8CC;
$colorDark: #21243D;
$colorLight: #8695A4;

// variables main
